.dropdown-menu {
   
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background: rgb(245, 202, 202);
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #fff;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .dropdown-link .dropdown-menu .dropdown-menu.clicked{
      overflow: visible !important;
    }
    .fa-caret-down {
      display: none;
    }
  }